{% extends 'student/base.html' %}
{% load staticfiles %}
{% block head %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8"/>
    <title></title>
    {% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'UX/css/student/recording.css' %}">
    <link rel="stylesheet" href="{% static 'UX/css/simpleGridTemplate.css' %}">
    {% endblock %}
    {% block html5shim %}
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
    {% endblock %}
    {% endblock %}
</head>
{% block list %}
<li><a href="{% url 'assignment' %}">Assignment</a></li>
<li class="active"><a href="{% url 'complete_video' %}">Completed Videos</a></li>
{% endblock %}
{% block body %}
<div class="container">
    <div class="gallery">
        {% if group %}
        <h3 style="text-align: center;"> {{group.name}} Assignment</h3>
        {% else %}
        <h3 style="text-align: center;">{{request.user.first_name}} {{request.user.last_name}} Assignment</h3>
        {% endif %}
        {% if videos %}
        <h2 style="text-align: center;">Send the videos you want to use for your assignment </h2>
        {% if show_count == True %}
        {% if count_approved >= 1 %}
        {% if count_approved == 1 %}
        <h2 style="text-align: center; color:green;"> {{count_approved}} video has been approved!</h2>
        {% else %}
        <h2 style="text-align: center; color:green;"> {{count_approved}} videos has been approved!</h2>
        {% endif %}
        {% endif %}
        {% endif %}
        {% for video in videos %}
        <div class="col-xs-12 col-md-6 col-lg-3">
            {% if video.video.status == "pending"%}
            <div class="thumbnail" style="border: 2px solid black;">
                {% elif video.video.status == "Under Review by teacher" %}
                <div class="thumbnail" style="border: 2px solid red;">
                    {% else %}
                    <div class="thumbnail" style="border: 2px solid green;">
                        {% endif %}
                        <div style="text-align: right;"> Delete</div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <video controls>
                                <source src="/foraliving/media/{{video.video.url}}">
                            </video>
                        </div>
                        <h4>{{video.interview_question.interview.interviewee.user.first_name}}</h4>
                        <p class="tag">{{volunteer.workTitle}}</p>
                        <p class="text_column">{{video.video.name}}</p>
                        <p></p>
                        {% if video.video.status == "pending"%}
                        <div style="text-align: center;">
                            <button class='btn btn-video btn-title border-radius'
                                    onclick="location.href='{% url 'send_email' video_id=video.video.id %}'"
                                    style="font-size:14px;"> Send by teacher
                            </button>
                        </div>
                        {% elif video.video.status == "Under Review by teacher" %}
                        <div style="text-align: center;">
                            <p class="video-message"
                               style="text-align: center; font-size: 14px; margin-bottom: 8px; padding-top: 21%; color:black;">
                                {{video.video.status}} </p>
                        </div>
                        {% else %}
                        <div style="text-align: center;">
                            <p class="video-message"
                               style="text-align: center; font-size: 14px; margin-bottom: 8px; padding-top: 21%; color:green;">
                                {{video.video.status}} </p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h3 style="text-align: center;">You have not recorded any videos yet.</h3>
                {% endif %}
            </div>
        </div>
        {% endblock %}
        {% block scripts %}{% endblock %}

