{% extends 'student/base.html' %}
{% load staticfiles %}
{% block list %}
<li class="active"><a href="{% url 'assignment' %}">Assignment</a></li>
<li><a href="{% url 'complete_video' %}">Completed Videos</a></li>
{% endblock %}
{% block body %}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="inline-block" style="text-align: center;"><h3> Select at least three interview questions </h3></div>
    </div>
</div>
<div class="panel-body">
    <div class="panel panel-default">
        <div class="panel-body" style="font-size: 18px;">
            <form id="customer_specific" action="{% url 'select_question_edit' interview_id=1%} " method="post"
                  class="form">
                {% csrf_token %}
                {% for question in questions %}
                {% if question.2  == "yes" %}
                <div class="checkbox" style="margin-bottom: 20px; margin-top: 20px;">
                    <label><input type="checkbox" checked style="position:relative; margin-right: 10px;"
                                  name="question" value="{{question.0}}">{{question.1}}</label>
                </div>
                {% else %}
                <div class="checkbox" style="margin-bottom: 20px; margin-top: 20px;">
                    <label><input type="checkbox" style="position:relative; margin-right: 10px;"
                                  name="question" value="{{question.0}}">{{question.1}}</label>
                </div>
                {% endif %}
                {% endfor %}
                <div class="form-group" style="text-align:center;">
                    <button class="btn btn-menu" tyle="submit"
                            onclick="location.href=''">
                        Done
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}