{% load staticfiles %}
{% load static %}
{% load i18n %}
{% load account_tags %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% block title %}
    <title></title>
    {% endblock %}
    {% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" href="{% static 'UX/css/student/recording.css' %}">
    {% endblock %}

    {% block html5shim %}
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
    {% endblock %}

</head>
<body>
<header>
</header>

{% block body_base %}
<section id="content_body" style="padding: 30px 0px;">
    <div class="container">
        {% include "_messages.html" %}
        {% block body %}
        <div class="container">
            <h2></h2>
        </div>
        {% endblock %}
    </div>
</section>
{% endblock %}

{% block scripts %}{% endblock %}

{% block theme_script %}
<link rel="stylesheet" href="{% static 'pinax/css/theme.css' %}">
<script src="{% static 'pinax/js/theme.js' %}"></script>
{% endblock %}
</body>
{% block footer_base %}
<hr/>
<footer>
    <div class="container">
        {% block footer %}
        {% include "_footer.html" %}
        {% endblock %}
    </div>
</footer>
{% endblock %}
</html>
