{% extends 'volunteer/base.html' %}
{% load i18n %}
{% load bootstrap %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_messages %}
{% load staticfiles %}
{% load static %}

{% block head_title %}
{% trans "Sign up as a volunteer" %}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'UX/css/volunteer/volunteer.css' %}">
<link rel="stylesheet" href="{% static 'UX/css/student/recording.css' %}">
<link rel="stylesheet" href="{% static 'UX/css/bootstrap-tokenfield.css' %}">
<link rel="stylesheet" href="{% static 'UX/css/tokenfield-typeahead.css' %}">
<link rel="stylesheet" href="{% static 'UX/css/jquery.css' %}">
<link rel="stylesheet" href="{% static 'UX/css/jquery.css' %}">
{% endblock %}
{% block list %}
<li><a href="{% url 'volunteer_profile'  user_id=request.user.id interview_id=0%}">Profile</a></li>
<li><a href="">Get Interviewed</a></li>
{% endblock %}
{% block body %}
<header>
    <script src="{% static 'js/mentions/bootstrap-tokenfield.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/typeahead.js/0.9.3/typeahead.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/additional-methods.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</header>
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="inline-block" style="text-align: center;"><h3> Volunteer Form </h3></div>
    </div>
</div>
<div class="panel-body">
    <div class="panel panel-default">
        <div class="panel-body" style="font-size: 18px;">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-12">
                        <form method="POST" id="volunteer_form" class="form">
                            <div>
                                <p style="font-weight: bold;">Please complete the contact information for the person you
                                    will be interviewing</p>
                                <div style="display: inline-flex" ;>
                                    <p>( </p>
                                    <p style="color:red;">*</p>
                                    <p> = required information)</p>
                                </div>
                            </div>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 col-sm-6 required">
                                    {% bootstrap_field infoForm.phone layout="vertical" %}
                                </div>
                                <div class="col-md-6 col-sm-6 required" style="margin-top: 25px;">
                                    {% bootstrap_field infoForm.canGetText layout="vertical" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 required">
                                    {% bootstrap_field infoForm.workTitle layout="vertical" %}
                                </div>
                                <div class="col-md-6 col-sm-6" style="margin-top: 25px;">
                                    {% bootstrap_field infoForm.isBusinessOwner layout="vertical" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 required">
                                    {% bootstrap_field infoForm.workIndustry layout="vertical" %}
                                </div>
                                <div class="col-md-6 col-sm-6 required">
                                    {% bootstrap_field infoForm.yearsInIndustry layout="vertical" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    {% bootstrap_field infoForm.linkedinProfile layout="vertical" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 required">
                                    {% bootstrap_field infoForm.yearsSinceHSGraduation layout="vertical" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 required">
                                    {% bootstrap_field infoForm.collegeLevel layout="vertical" %}
                                </div>
                            </div>
                            <div class="row" id="collegeMajorDiv" style="display:none;">
                                <div class="col-md-6 col-sm-6">
                                    {% bootstrap_field infoForm.collegeMajor layout="vertical" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label class="control-label">Please enter skills related to your job,
                                        role and industry </label>
                                    <input type="text" class="form-control" id="tokenfield" value="{% for data in volunteer.skills.all %}
                                    {{ data.name }},
                                    {% endfor %}"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label class="control-label">Please provide some interests that lead you to your
                                        career choice</label>
                                    <input type="text" class="form-control" id="tokenfieldinterest" value="{% for data in volunteer.interests.all %}
                                    {{ data.name }},
                                    {% endfor %}"/>
                                </div>
                            </div>
                            <br>
                            <button type="button" id="editVolunteer" class="save btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $.getJSON('/categories/', function (responseData) {
            var data = responseData;
            $('#tokenfield').tokenfield({
                autocomplete: {
                    source: data,
                    delay: 100
                },
                showAutocompleteOnFocus: true
            })
        });

        $.getJSON('/interests/', function (responseData) {
            var data = responseData;
            $('#tokenfieldinterest').tokenfield({
                autocomplete: {
                    source: data,
                    delay: 100
                },
                showAutocompleteOnFocus: true
            })
        });

        $('#tokenfieldinterest').on('tokenfield:createtoken', function (event) {
            var existingTokens = $(this).tokenfield('getTokens');
            $.each(existingTokens, function (index, token) {
                if (token.value.toLowerCase() === event.attrs.value.toLowerCase().trim())
                    event.preventDefault();
            });
        });

        $('#tokenfield').on('tokenfield:createtoken', function (event) {
            var existingTokens = $(this).tokenfield('getTokens');
            $.each(existingTokens, function (index, token) {
                if (token.value.toLowerCase() === event.attrs.value.toLowerCase().trim())
                    event.preventDefault();
            });
        });


        $.validator.addMethod('customphone', function (value, element) {
            return this.optional(element) || /^(\([0-9]{3}\)|[0-9]{3})-?[0-9]{3}-?[0-9]{4}$/.test(value);
        }, "Please enter a valid phone number such 123-555-5555");


        $("#editVolunteer").click(function (event) {
            if ($('#volunteer_form').valid()) {
                saveVolunteer();
            } else {
                validator.focusInvalid();
            }
        });

        var validator = $("#volunteer_form").validate({
            onkeyup: false,
            focusout: true,
            focusInvalid: true,
            errorClass: "my-error-class",
            errorPlacement: function (error, element) {
                error.appendTo(element.closest(".form-group"))
            },
            rules: {
                phone: {
                    customphone: true
                },
                password_confirmation: {
                    required: true,
                    equalTo: "#id_password"
                },
                workTitle: {
                    required: true
                },
                workIndustry: {
                    required: true
                },
                yearsSinceHSGraduation: {
                    required: function (element) {
                        return $("#id_collegeLevel").val() == 0;
                    }
                },
                collegeLevel: {
                    required: function (element) {
                        return $("#id_collegeLevel").val() == 0;
                    }
                }
            }
        });
        if ($("#id_collegeLevel").val() == 1 || $("#id_collegeLevel").val() == 2 || $("#id_collegeLevel").val() == 3 || $("#id_collegeLevel").val() == 4) {
            $("#collegeMajorDiv").show();
        } else {
            $("#collegeMajorDiv").hide();
        }

        $("#id_collegeLevel").change(function (event) {
            if ($(this).val() == 1 || $(this).val() == 2 || $(this).val() == 3 || $(this).val() == 4) {
                $("#collegeMajorDiv").show();
            } else {
                $("#collegeMajorDiv").hide();
                $("#id_collegeMajor").val("");
            }
        });

        function saveVolunteer(button) {
            $("#editVolunteer").attr('disabled', 'disabled');
            var formData = $("#volunteer_form").serialize();
            $.ajax({
                type: "POST",
                url: "/foraliving/volunteer/profile/edit/" +{{user_id}} + "/",
                data: formData,
                dataType: "json",
                success: function (data) {
                    var skills = $('#tokenfield').tokenfield('getTokens');
                    var interests = $('#tokenfieldinterest').tokenfield('getTokens');
                    formSkill = new FormData($('#submit_form')[0]);
                    formSkill.append("skills", JSON.stringify(skills));
                    formSkill.append("interests", JSON.stringify(interests));
                    var volunteer = data;
                    $.ajax({
                        url: "/foraliving/edit-skills/" + volunteer + "/",
                        type: "POST",
                        data: formSkill,
                        contentType: false,
                        processData: false,
                        success: function (skillResponse) {
                            if (skillResponse == "ok") {
                                window.location = "/foraliving/volunteer/profile/" + {{user_id}} + "/0"

                            }
                        }
                    });
                },
                error: function () {
                    alert("Something went wrong, please try again!");
                }
            });
        }
    });
</script>
{% endblock %}