{% extends 'student/base.html' %}
{% load staticfiles %}
{% block list %}
    <li ><a href="{% url 'assignment' %}">Assignment</a></li>
    <li><a href="{% url 'complete_video' %}">Completed Videos</a></li>
{% endblock %}
{% block body %}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="inline-block" style="text-align: center;"><h3> {{volunteer.user.first_name}} Profile</div>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body" style="font-size: 18px;">

            </div>
        </div>
    </div>
</div>
{% endblock %}