{% extends 'volunteer/base.html' %}
{% load staticfiles %}
{% block list %}
{% if user_type == "Teacher" %}
<li><a href="{% url 'teacher_class' %}?class={{class_id}}&assignment={{assignment}}">Students</a></li>
<li><a href="{%url 'teacher_volunteer'%}?class={{class_id}}&assignment={{assignment}}">Volunteers</a></li>
<li><a href="{%url 'teacher_videos'%?class_id={{class_id}}&assignment={{assignment}}}">Videos</a></li>
{% elif user_type == "Volunteer" %}
<li class="active"><a href="{% url 'volunteer_profile'  user_id=request.user.id interview_id=0%}">Profile</a></li>
<li><a href="{% url 'volunteer_get_interviewed' %}">Get Interviewed</a></li>
{% else %}
<li><a href="{% url 'assignment' interview_id=interview %}">Assignments </a></li>
<li><a href="{% url 'complete_video' interview_id=interview %}">Completed Videos</a></li>
{% endif %}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'UX/css/student/recording.css' %}">
<link rel="stylesheet" href="{% static 'UX/css/simpleGridTemplate.css' %}">
{% endblock %}
{% block body %}
<div class="container">
    <div class="" style="text-align: left; display:inline-block;">
        <h2 style="color:black;"> Your interview videos <i
                class="fa fa-chevron-down" aria-hidden="true"></i><i style="display: none; color: black;" class="fa fa-chevron-right"
                                                                     aria-hidden="true"></i>
        </h2>
        <br>
        <div class="container" id="videos">
            <div class="gallery">
                {% for video in videos %}
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <div class="thumbnail">
                        <div class="embed-responsive embed-responsive-16by9">
                            <video controls>
                                <source src="/foraliving/media/{{video.video.url}}">
                            </video>
                        </div>
                        <h4>{{video.interview_question.interview.interviewee.first_name}}</h4>
                        <p class="tag">
                            {{video.interview_question.interview.interviewee.volunteer_user_add_ons.workTitle}}</p>
                        <p class="text_column">{{video.video.name}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr id="line" style="display: none; border-top: 1px solid #abaaaa;">
    <div class="inline-block" style="text-align: left; color:black;"><h2 style="color:black;"> About your career
        {% if request.user.id == volunteer.user.id %}
        <a style="color:black;" href="{% url 'volunteer_profile_edit'  user_id=request.user.id%}">
            <i class="fa fa-pencil" aria-hidden="true" title='Edit'></i>
        </a>
        {% endif %}
    </h2>
        <div class="volunteer-title">Title:<p class="volunteer-description"> &nbsp;{{volunteer.workTitle}}</p>
        </div>
        <div class="volunteer-title">Industry:&nbsp; <p class="volunteer-description">
            {{volunteer.workIndustry}}</p></div>
        <div class="volunteer-title">Linkedin profile: &nbsp;<p class="volunteer-description">
            {{volunteer.linkedinProfile}}</p></div>
        <div class="volunteer-title">Years since high school graduation: &nbsp;<p class="volunteer-description">
            {{volunteer.get_yearsSinceHSGraduation_display}}</p></div>
        <div class="volunteer-title">Highest college degree: &nbsp;<p class="volunteer-description">
            {{volunteer.get_collegeLevel_display}}</p></div>
        <div class="volunteer-title">College major(s): &nbsp;<p class="volunteer-description">
            {{volunteer.collegeMajor}}</p></div>
        <div class="volunteer-title" style="display: block;">Skills related to your job, role and industry:&nbsp;
            <br>
            <p class="volunteer-description">
                {% for data in volunteer.skills.all %}
                {% if forloop.last %}
                {{ data.name }}
                {% else %}
                {{ data.name }},
                {% endif %}
                {% endfor %}
            </p>
        </div>
        <div class="volunteer-title" style="display: block;">Interests that lead you to your career choice:&nbsp;
            <p class="volunteer-description">
                {% for data in volunteer.interests.all %}
                {% if forloop.last %}
                {{ data.name }}
                {% else %}
                {{ data.name }},
                {% endif %}
                {% endfor %}
            </p>
        </div>
        <br>
        <h4 style="color:black;">Contact Info</h4>
        <div class="volunteer-description">{{volunteer.user.first_name}} {{volunteer.user.last_name}}</div>
        <div class="volunteer-description">{{volunteer.user.email}}</div>
        <div class="volunteer-description">{{volunteer.phone}}</div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(".fa-chevron-down").click(function () {
        $("#videos").hide();
        $(".fa-chevron-down").hide();
        $(".fa-chevron-right").show();
        $("#line").show();
    });

    $(".fa-chevron-right").click(function () {
        $("#videos").show();
        $(".fa-chevron-down").show();
        $(".fa-chevron-right").hide();
        $("#line").hide();

    });
</script>
{% endblock %}
