{% extends 'volunteer/base.html' %}
{% load i18n %}
{% load bootstrap %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_messages %}
{% load staticfiles %}
{% load static %}

{% block head_title %}
{% trans "Sign up as a volunteer" %}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'UX/css/volunteer/volunteer.css' %}">
<link rel="stylesheet" href="{% static 'UX/css/student/recording.css' %}">
<link rel="stylesheet" href="{% static 'UX/css/bootstrap-tokenfield.css' %}">
<link rel="stylesheet" href="{% static 'UX/css/tokenfield-typeahead.css' %}">
<link rel="stylesheet" href="{% static 'UX/css/jquery.css' %}">
{% endblock %}
{% block body %}
<header>
    <script src="{% static 'js/mentions/bootstrap-tokenfield.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/typeahead.js/0.9.3/typeahead.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/additional-methods.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</header>
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="inline-block" style="text-align: center;"><h3> Volunteer Form </h3></div>
    </div>
</div>
<div class="panel-body">
    <div class="panel panel-default">
        <div class="panel-body" style="font-size: 18px;">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-12">
                        <form method="POST" id="volunteer_form">
                            <div>
                                <p style="font-weight: bold;">Please complete the contact information for the person you
                                    will be interviewing</p>
                                <div style="display: inline-flex" ;>
                                    <p>( </p>
                                    <p style="color:red;">*</p>
                                    <p> = required information)</p>
                                </div>
                            </div>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 col-sm-6 required">
                                    {% bootstrap_field userForm.first_name layout="vertical" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 required">
                                    {% bootstrap_field userForm.last_name layout="vertical" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 required">
                                    {% bootstrap_field userForm.username layout="vertical" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 required">
                                    {% bootstrap_field userForm.email layout="vertical" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 required">
                                    {% bootstrap_field userForm.password layout="vertical" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group required">
                                        <label class='control-label'>Password Confirmation</label>
                                        <input type="password" class="form-control" id="password_confirmation"
                                               name="password_confirmation" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 required">
                                    {% bootstrap_field infoForm.phone layout="vertical" %}
                                </div>
                                <div class="col-md-6 col-sm-6 required" style="margin-top: 25px;">
                                    {% bootstrap_field infoForm.canGetText layout="vertical" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 required">
                                    {% bootstrap_field infoForm.workTitle layout="vertical" %}
                                </div>
                                <div class="col-md-6 col-sm-6" style="margin-top: 25px;">
                                    {% bootstrap_field infoForm.isBusinessOwner layout="vertical" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 required">
                                    {% bootstrap_field infoForm.workIndustry layout="vertical" %}
                                </div>
                                <div class="col-md-6 col-sm-6 required">
                                    {% bootstrap_field infoForm.yearsInIndustry layout="vertical" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    {% bootstrap_field infoForm.linkedinProfile layout="vertical" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 required">
                                    {% bootstrap_field infoForm.yearsSinceHSGraduation layout="vertical" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 required">
                                    {% bootstrap_field infoForm.collegeLevel layout="vertical" %}
                                </div>
                            </div>
                            <div class="row" id="collegeMajorDiv" style="display:none;">
                                <div class="col-md-6 col-sm-6">
                                    {% bootstrap_field infoForm.collegeMajor layout="vertical" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label class="control-label">Please enter skills related to your job,
                                        role and industry </label>
                                    <input type="text" class="form-control" id="tokenfield" value=""/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label class="control-label">Please provide some interests that lead you to your
                                        career choice</label>
                                    <input type="text" class="form-control" id="tokenfieldinterest" value=""/>
                                </div>
                            </div>
                            <br>
                            <button type="button" class="save btn btn-primary" id="createVolunteer">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>

    /*method to get the skills*/
    $.getJSON('/categories/', function (responseData) {
        var data = responseData;
        $('#tokenfield').tokenfield({
            autocomplete: {
                source: data,
                delay: 100
            },
            showAutocompleteOnFocus: true
        })
    });

    /*method to get the interests*/
    $.getJSON('/interests/', function (responseData) {
        var data = responseData;
        $('#tokenfieldinterest').tokenfield({
            autocomplete: {
                source: data,
                delay: 100
            },
            showAutocompleteOnFocus: true
        })
    });

    /*method to manage that the user cannot repeat skills on the skills input */
    $('#tokenfield').on('tokenfield:createtoken', function (event) {
        var existingTokens = $(this).tokenfield('getTokens');
        $.each(existingTokens, function (index, token) {
            if (token.value.toLowerCase() === event.attrs.value.toLowerCase().trim())
                event.preventDefault();
        });
    });

    /*method to manage that the user cannot repeat interests on the interests input */
    $('#tokenfieldinterest').on('tokenfield:createtoken', function (event) {
        var existingTokens = $(this).tokenfield('getTokens');
        $.each(existingTokens, function (index, token) {
            if (token.value.toLowerCase() === event.attrs.value.toLowerCase().trim())
                event.preventDefault();
        });
    });


    $(document).ready(function () {
        {% if email %}
        $("#id_email").val("{{email}}");
        {% endif %}
        {% if phone %}
        $("#id_phone").val("{{phone}}");
        {% endif %}
        {% if first_name %}
        $("#id_first_name").val("{{first_name}}");
        {% endif %}
        {% if last_name %}
        $("#id_last_name").val("{{last_name}}");
        {% endif %}
        {% if workTitle %}
        $("#id_workTitle").val("{{workTitle}}");
        {% endif %}


        /*method to validate the phone */
        $.validator.addMethod('customphone', function (value, element) {
            return this.optional(element) || /^(\([0-9]{3}\)|[0-9]{3})-?[0-9]{3}-?[0-9]{4}$/.test(value);
        }, "Please enter a valid phone number such 123-555-5555");

        /*method to validate the unique email */
        $.validator.addMethod("uniqueEmail", function () {
            var email = $("#id_email").val();
            var valid = false
            $.ajax({
                type: "GET",
                async: false,
                url: "/unique-email/",
                data: "email=" + email,
                dataType: "json",
                async: false,
                success: function (response) {
                    valid = !response;
                }
            });
            return valid;
        }, "This email is already taken! Try another.");


        /*method to validate the unique username */
        $.validator.addMethod("uniqueUsername", function () {
            var username = $("#id_username").val();
            var result = false
            $.ajax({
                type: "GET",
                url: "/unique-username/",
                async: false,
                dataType: "json",
                data: {'username': username},
                success: function (response) {
                    result = !response;
                }
            })
            return result;
        }, "This username is already taken! Try another.");


        /*method to validate the form */
        var validator = $("#volunteer_form").validate({
            onkeyup: false,
            focusout: true,
            focusInvalid: true,
            errorClass: "my-error-class",
            errorPlacement: function (error, element) {
                error.appendTo(element.closest(".form-group"))
            },
            rules: {
                first_name: {
                    required: true
                },
                last_name: {
                    required: true
                },
                email: {
                    required: true,
                    email: true,
                    uniqueEmail: true
                },
                username: {
                    uniqueUsername: true
                },
                phone: {
                    customphone: true
                },
                canGetText: {
                    required: true
                },
                password_confirmation: {
                    required: true,
                    equalTo: "#id_password"
                },
                workTitle: {
                    required: true
                },
                workIndustry: {
                    required: true
                },
                yearsSinceHSGraduation: {
                    required: function (element) {
                        return $("#id_collegeLevel").val() == 0;
                    }
                },
                collegeLevel: {
                    required: function (element) {
                        return $("#id_collegeLevel").val() == 0;
                    }
                },
                yearsInIndustry : {
                    required: true
                }
            },
            messages: {
                username: {
                    uniqueUsername: "This username is already taken! Try another.",
                    required : "Username is required."
                },
                first_name : {
                    required: "First name is required."
                },
                last_name : {
                    required: "Last name is required."
                },
                email : {
                    required: "Email is required."
                },
                password : {
                    required: "Password is required."
                },
                password_confirmation: {
                    required: "Password confirmation is required."
                },
                phone : {
                    required: "Phone number is required."
                },
                workTitle: {
                    required: "Work title is required."
                },
                workIndustry: {
                    required: "Work industry is required."
                },
                yearsSinceHSGraduation: {
                    required: "Year since high school graduation is required."
                },
                collegeLevel: {
                    required: "Highlest college degree is required."
                },
                yearsInIndustry: {
                    required: "Number of years in this industry is required."
                },
                canGetText: {
                    required: "Can we text on this number is required."
                }
            }
        });


        /*manage the college major input */
        $("#collegeMajorDiv").hide();

        $("#id_collegeLevel").change(function (event) {
            if ($(this).val() == 1 || $(this).val() == 2 || $(this).val() == 3 || $(this).val() == 4) {
                $("#collegeMajorDiv").show();
            } else {
                $("#collegeMajorDiv").hide();
                $("#id_collegeMajor").val("");
            }
        });

        /*event to start the volunteer save */
        $("#createVolunteer").click(function (event) {
            if ($('#volunteer_form').valid()) {
                saveVolunteer();
            } else {
                validator.focusInvalid();
            }
        });

        /*function to save the volunteer */
        function saveVolunteer(button) {
            $("#createVolunteer").attr('disabled', 'disabled');
            var formData = $("#volunteer_form").serialize();
            $.ajax({
                type: "POST",
                url: "/volunteer/create/",
                data: formData,
                dataType: "json",
                success: function (data) {
                    var skills = $('#tokenfield').tokenfield('getTokens');
                    var interests = $('#tokenfieldinterest').tokenfield('getTokens');
                    formSkill = new FormData($('#submit_form')[0]);
                    formSkill.append("skills", JSON.stringify(skills));
                    formSkill.append("interests", JSON.stringify(interests));
                    var volunteer = data;
                    $.ajax({
                        url: "/create-skills/" + volunteer + "/",
                        type: "POST",
                        data: formSkill,
                        contentType: false,
                        processData: false,
                        success: function (skillResponse) {
                            if (skillResponse == "ok") {
                                window.location = "/account/login/"

                            }
                        }
                    });
                },
                error: function () {
                    alert("Something went wrong, please try again!");
                }
            });
        }
    });
</script>
{% endblock %}