
.form-group.required .control-label:after {
  content:"*";
  color:red;
}


.col-sm-6.required .form-group .control-label:after {
  content:"*";
  color:red;
}

.col-sm-6.required .form-group .checkbox:after {
  content:"*";
  color:red;
}

.my-error-class {
    color:#FF0000;  /* red */
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline;
}

.checkbox+.checkbox, .radio+.radio {
    margin-top: -5px;
    margin-left: 10%;
}

.large.tooltip-inner {
    max-width: 350px;
    width: 350px;
}


.interview {
  background-color: #e8e5df;
  border-radius: 5px;
  border: 2px solid #e8e5df;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.center {
  text-align: center;
}

.hr-middle {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-color: #c1b49a;
}

.main-title {
  color: #99c64c;
}

.panel {
    border: 0;
}

.video {
  width: 400;
  height: 275;
  margin: 5px 5px 5px 0;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.description {
  text-align: justify;
}

.panel-heading h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  width: 75%;
  padding-top: 8px;
}

.question {
  border-radius: 5px;
  border: 2px solid #e8e5df;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.simple-link {
  text-decoration: none !important;
  color: black;
}

.video {
  border-radius: 5px;
  border: 2px solid #e8e5df;
  margin: 0 0 0 0;
}
