<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">No sound or camera?</h4>
            </div>

            <div class="modal-body" style="margin: 4px; font-size: 16px;">
                <p style="text-align: justify; margin:3px;"> Did you allow microphone and camera access on the site settings?. If not close the browser and
                    reopen it.
                    When you log back in, select <span style="font-weight: bold;">"allow" </span> when asked to allow the site to have access to the microphone
                    and camera.</p>
                <p class="debug-url"></p>
            </div>

            <div class="modal-footer" style="text-align:center;">
                <button type="button" class="btn btn-success modal-button" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>