<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Ways to improve the video image</h4>
            </div>
            <div class="modal-body" style="margin: 4px; font-size: 16px;">
                <p style="text-align: justify; margin:3px;">
                <ol>
                    <li> The interviewee should not be sitting in front of window.</li>
                    <li> Turn on as many lights as possible.</li>
                    <li>A light should not be directly behind the interviewee. </li>
                    <li> The interviewee should sit close to the camera, so that their face fills about 1/3 of the
                    screen </li>
                </ol>
                <p class="debug-url"></p>
            </div>
            <div class="modal-footer" style="text-align:center;">
                <button type="button" class="btn btn-success modal-button" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>