{% extends "recording/base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}
{% load static %}
{% block body %}
<container>
    <div style="font-size: 75px; text-align: center;">
        <p> Opps!</p>
        <p> Rotate your device to record ...
        <p>
        <p>
            <img class="image_battery img-responsive"
                 src="{% static 'img/recording/rotate.png' %}" alt="Smiley face" height="20"
                 width="20" id="full">
        </p>
    </div>

</container>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/recording/setup_interview.js' %}"></script>
<script>
    screen.orientation.addEventListener('change', function () {
        console.log('new orientation is ', screen.orientation.type);
        if (screen.orientation.type == "landscape" || screen.orientation.type == "landscape-primary"
                || screen.orientation.type == "landscape-secundary") {
            window.location.href = '/foraliving/setup_microphone/';
        }
    });
</script>
{% endblock %}
