{% extends "recording/base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}
{% load static %}
{% block body %}
<container>
    <div style="font-size: 35px; text-align: center;">
        <p> Rotate your screen to landscape for the best user experience during the interview.</p>
        <p>
            <img class="image-rotation img-responsive"
                 src="{% static 'img/recording/rotate.png' %}">
        </p>
        <p> Also, to avoid creating a shaky video, steady your device by placing your elbows on a table or resting your
            arms on the
            back of a chair.</p>
    </div>
    <input type="hidden" value="{{interview}}" id="interview_id">

</container>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/recording/setup_interview.js' %}"></script>
<script>
    screen.orientation.addEventListener('change', function () {
        console.log('new orientation is ', screen.orientation.type);
        var interview = $("#interview_id").val();
        var mql = window.matchMedia("(orientation: portrait)");
        if (mql.matches == false) {
            window.location.href = '/foraliving/setup_microphone/' + interview;
        }
    });
</script>
{% endblock %}
