{% extends "recording/base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}
{% load static %}
{% block body %}
{% for result in results %}
{% endfor %}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-3 title-line-height">
                <div class="btn-group">
                    <button class='btn btn-success btn-title border-radius' id="back"
                            onclick="location.href='{% url 'recording_setup_microphone' interview_id=interview%}'"><i
                            class="fa fa-arrow-left"
                            aria-hidden="true"></i> Back to
                        setup
                    </button>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <h4 class="inline-title">Select your interview questions </h4>

            </div>
            <div class="col-sm-3 title-line-height text-right">
                <div class="btn-group">
                    <button class='btn btn-success btn-title border-radius'> Done <i
                            class="fa fa-check-square"
                            aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped table-responsive " style="font-size: 20px; vertical-align: inherit;">
                    <thead>
                    <tr>
                        <th class="code">Questions</th>
                        <th class="pdf"></th>
                    </tr>
                    </thead>
                    <tbody style="vertical-align: inherit;">
                    {% if  questions or results %}
                    {% for result in results %}
                    <tr data-link="{% url 'recording' question_id=result.1 camera_id=camera_id %}" style="vertical-align: middle;">
                        <td style="vertical-align: middle;"> {{result.0}}
                        </td>
                        <td style="font-size:14px; text-align: center; vertical-align: middle;">
                            <video width="50" height="50">
                                <source src="/foraliving/media/{{result.3}}">
                            </video>
                            <div>
                                {% if result.2 == 1 %}
                                {{result.2}} video saved
                                {% elif result.2 >= 1 %}
                                {{result.2}} videos saved
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% for question in questions %}
                    <tr data-link="{% url 'recording' question_id=question.0 %}">
                        <td> {{question.4}}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3">No Questions are available.</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="clearfix">
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/recording/setup_interview.js' %}"></script>
<script>

    $('table.table tr').click(function () {
        window.location.href = $(this).data('link');
    });
</script>
{% endblock %}
