{% extends "recording/base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}
{% load static %}
{% block body %}
{% block styles %}
<link rel="stylesheet" href="{% static 'UX/css/student/recording.css' %}">
<link rel="stylesheet" href="{% static 'UX/css/student/overlay.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
{% endblock %}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="inline-block"><h3> {{question_name}}</h3></div>
        <button class="btn btn-warning" id="download" style="display:none; margin-top:33%;">
            Download
        </button>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6 .col-lg-6" style="text-align: center;">
                        <input type="hidden" id="camera_index" value="">
                        <div class="select" style="margin-bottom: 5px;">
                            <label for="videoSource">Select camera: </label><select class="selectpicker show-tick" id="videoSource"></select>
                        </div>
                        <video id="gum" autoplay loop muted="muted"></video>
                        <div style="display:none;" id="custom-message">Recording starts in ..
                            <br>
                        </div>
                        <div id="count" style="display:none;"> 5</div>
                        <div id="count-replace" style="display:none;"> Ask your question</div>
                    </div>
                    <div class="col-md-6 col-sm-6 .col-lg-6"
                         style="text-align: center; margin-top: 10%;">
                        <div class="row">
                            <div class="col-md-12col-sm-12 .col-lg-12">
                                <h1>
                                    <time>00:00:00</time>
                                </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12col-sm-12 .col-lg-12">
                                <button class="btn btn-warning" id="save" style="display:none;">Save</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12col-sm-12 .col-lg-12">
                                <button class="btn btn-warning" id="record">Start Recording</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display:none">
    <input type="hidden" name="csrfmiddlewaretoken" value="$csrf_token"/>
    <input type="hidden" name="interview_question" id="interview_question" value="{{questions.id}}"/>
    <input type="hidden" name="interview" id="interview" value="{{questions.interview.id}}"/>
</div>

{% endblock %}
{% block scripts %}
<script>
    var orientation = screen.orientation || screen.mozOrientation || screen.msOrientation;
    var query = window.matchMedia("(orientation:landscape)");

    if (query.matches == false) {
        alert("Rotate your screen to landscape for the best user experience during the interview.");
    }
    var camera_id = "{{camera_id}}" ? Number("{{camera_id}}") : -1;
    $('#camera_index').val(camera_id);
</script>
<script src="{% static 'js/webRTC/adapter.js' %}"></script>
<script src="{% static 'js/webRTC/record.js' %}"></script>
<script src='{% static "js/recording/loadingoverlay.min.js" %}'></script>

{% endblock %}
