{% extends "recording/base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}
{% load static %}
{% block body %}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="inline-block"><h3> Check your setup</h3></div>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6 col-sm-6 .col-lg-6">
                    <input type="hidden" id="camera_index" value="">
                    <div class="select" style="margin-bottom: 5px;">
                        <label for="videoSource" style="padding-right: 10px;">Select camera: </label><select class="selectpicker show-tick" id="videoSource"></select>
                    </div>
                    <div class="videoContainer">
                        <video id="localVideo" oncontextmenu="return false;" autoplay=""></video>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 .col-lg-6">
                    <div class="setup">
                        Is the person’s face well lit (not lit from behind)?
                    </div>
                    <br>
                    <div class="col-md-12  col-sm-12 col-xs-12" style="margin-bottom: 10px; text-align: center;">
                        <img class="image" src="{% static 'img/recording/good_face.png' %}" alt="Smiley face" height="42"
                             width="42">
                        <img class="image" src="{% static 'img/recording/bad_face.png' %}" alt="Smiley face"
                             height="42" width="42">
                    </div>
                    <div style="text-align: center;" class="col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-success" id="yes"
                                onclick="location.href='{% url 'recording_setup_battery' interview_id=interview %}'">
                            Yes
                        </button>
                        <button class="btn btn-not" id="no">No</button>
                    </div>

                    <div class="skip" style="margin-top: 45%;">
                        <a class="skip" style=text-decoration:none;
                           href="{% url 'question_interview' interview_id=interview %}">Skip setup
                            check
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'recording/help2.html' %}
{% endblock %}
{% block scripts %}
<script src="{% static 'js/recording/getUserMedia.js' %}"></script>
<script src="{% static 'js/recording/setup1.js' %}"></script>
<script src="{% static 'js/recording/getusermedia_edge.js' %}"></script>
<script>
    $('html').on('click', '#no', function (e) {
        e.preventDefault();
        $('#help-modal').modal();
    });
    var camera_id = "{{camera_id}}" ? Number("{{camera_id}}") : -1;
    $('#camera_index').val(camera_id);
    // $('select#videoSource option')[camera_id].selected = true;
</script>
{% endblock %}