{% extends "recording/base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}
{% load static %}
{% block body %}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="inline-block"><h3> Check your setup</h3></div>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6 col-sm-6 .col-lg-6">
                    <div class="select" style="margin-bottom: 5px;">
                        <label for="videoSource" style="padding-right: 10px;">Select camera: </label><select class="selectpicker show-tick" id="videoSource"></select>
                    </div>
                    <div class="videoContainer">
                        <video id="localVideo" oncontextmenu="return false;" autoplay=""></video>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 .col-lg-6">
                    <div class="setup" id="text-default" style="display: none;">
                        Is your battery fully powered or are you plugged in?
                    </div>
                    <div class="setup" id="setup" style="display: none; text-align: left;">
                        Your power supply is good!
                    </div>
                    <div class="setup" id="setup2" style="display: none; text-align: left;">
                        Your battery is low. Plug in before starting the interview.
                    </div>
                    <br>
                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px; text-align: center;">
                        <img class="image_battery img-responsive"
                             src="{% static 'img/recording/battery_charging.png' %}" alt="Smiley face" height="20"
                             width="20" id="full" style="display:none;">
                        <img class="image_battery img-responsive" src="{% static 'img/recording/battery_low.png' %}"
                             alt="Smiley face" height="20"
                             width="20" id="low" style="display:none;">
                    </div>
                    <div style="text-align: center;" class="col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-success" id="yes"
                                onclick="location.href='{% url 'question_interview' interview_id=interview %}'"
                                style="display:none;">
                            Next
                        </button>
                        <button class="btn btn-not" id="no"
                                onclick="location.href='{% url 'question_interview' interview_id=interview %}'"
                                style="display:none;">I want to
                            continue anyway
                        </button>
                    </div>
                    <div style="text-align: center; display:none;" class="col-md-12 col-sm-12 col-xs-12"
                         id="other_navigator">
                        <button class="btn btn-success" id="yes"
                                onclick="location.href='{% url 'question_interview'  interview_id=interview %}'">
                            Yes
                        </button>
                        <button class="btn btn-not" id="no">No</button>
                    </div>

                    <div class="skip col-md-12 col-sm-12 col-xs-12" style="margin-top: 5%;">
                        <a class="skip" style=text-decoration:none;
                           href="{% url 'question_interview' interview_id=interview %}">Skip setup
                            check
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
{% include 'recording/help.html' %}
{% endblock %}
{% block scripts %}
<script src="{% static 'js/recording/getUserMedia.js' %}"></script>
<script src="{% static 'js/recording/setup1.js' %}"></script>
<script src="{% static 'js/recording/getusermedia_edge.js' %}"></script>


<script>
    $('html').on('click', '#no', function (e) {
        e.preventDefault();
        $('#help-modal').modal();
    });
    var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
    // Firefox 1.0+
    var isFirefox = typeof InstallTrigger !== 'undefined';
    // Safari 3.0+ "[object HTMLElementConstructor]"
    var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0 || (function (p) {
                return p.toString() === "[object SafariRemoteNotification]";
            })(!window['safari'] || safari.pushNotification);
    // Internet Explorer 6-11
    var isIE = /*@cc_on!@*/false || !!document.documentMode;
    // Edge 20+
    var isEdge = !isIE && !!window.StyleMedia;
    // Chrome 1+
    var isChrome = !!window.chrome && !!window.chrome.webstore;
    // Blink engine detection
    var isBlink = (isChrome || isOpera) && !!window.CSS;
    if (isChrome == true || isOpera == true || isFirefox == true) {
        navigator.getBattery().then(function (battery) {
            function updateAllBatteryInfo() {
                updateLevelInfo();
            }
            updateAllBatteryInfo();
            battery.addEventListener('chargingchange', function () {
                updateLevelInfo();
            });
            battery.addEventListener('levelchange', function () {
                updateLevelInfo();
            });
            function updateLevelInfo() {
                if (battery.level <= 0.35 && battery.charging == false) {
                    $("#low").show();
                    $("#setup2").show();
                    $("#setup").hide();
                    $("#full").hide();
                    $("#yes").hide();
                    $("#no").show();
                    $(".btn-not").css("width", "auto");
                } else {
                    $("#setup2").hide();
                    $("#setup").show();
                    $("#low").hide();
                    $("#full").show();
                    $("#yes").show();
                    $("#no").hide();
                }
            }
        })
    } else {
        $("#text-default").show();
        $("#other_navigator").show();
        $("#low").show();
        $("#full").show();
    }
</script>
{% endblock %}