<div class="modal fade" id="edit_group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Group</h4>
            </div>
            <form id="editGroup" class="form">
                {% csrf_token %}
                <div class="modal-body" style="margin: 4px; font-size: 16px;">
                    <div class="form-group">
                        <label>Group name </label>
                    </div>
                    <div class="form-group" id="group_name">
                        <input name="group_name" value="" type="text" class="form-control" id="{{group.id}}">
                    </div>
                    <div class="form-group" align="center">
                        <p style="color: #827a7a;">To add and remove a student, click the student's name</p>
                        <div style="background-color: #eceaea">
                            <p>{{name}} </p>
                            <select id='pre-selected-options' multiple='multiple'>
                            </select>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align:center;">
                    <button class="btn button-general" data-dismiss="modal">Cancel</button>
                    <button class="btn button-general update_group" style="background-color: dimgrey;" type="submit">
                        Done
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>