{% extends 'teacher/base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_messages %}
{% block list %}
<li class="active"><a href="{% url 'teacher_class' %}?class={{classname}}&assignment={{assignment}}">Students</a></li>
<li><a href="{%url 'teacher_volunteer'%}?class={{classname}}&assignment={{assignment}}">Volunteers</a></li>
<li><a href="{%url 'teacher_videos'%}?class_id={{classname}}&assignment={{assignment}}">Videos</a></li>
{% endblock %}
{% load staticfiles %}
{% block styles %}
<link rel="stylesheet" href="{% static 'UX/css/student/recording.css' %}">
<link rel="stylesheet" href="{% static 'UX/css/multiselect.css' %}">
<link rel="stylesheet" href="{% static 'UX/css/teacher/styles.css' %}">
<link rel="stylesheet" href="{% static 'UX/css/simpleGridTemplate.css' %}">
<link rel="stylesheet" href="{% static 'UX/css/bootstrap-select/bootstrap-select.min.css' %}">
<script src="{% static 'js/select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/teacher/group.js' %}"></script>
<script src="{% static 'js/teacher/jquery.multi-select.js' %}"></script>
<script type="text/javascript"
        src='{% static "jquery-validate/jquery.validate.min.js" %}'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/additional-methods.js"></script>
{% endblock %}
{% block body %}
<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <div class="row"><h4 style="margin-top: 24px; margin-left: 15px;"><a
                    href="{% url 'teacher_class' %}?class={{classname}}&assignment={{assignment}}"> <i
                    class="fa fa-angle-left backButton" aria-hidden="true"> Back</i></a></h4></div>
            <div class="row">
                <div class="col-xs-4 col-sm-5 col-md-4 col-lg-8 title-line-height page-title">
                    {% if not equal %}
                    Group:
                    {% else %}
                    Student:
                    {% endif %}
                    <span id="group_name">{{group.name}} </span>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2 title-line-height text-right">
                    <div class="btn-group">
                        {% if videos_count %}
                        <button class="btn button-general edit-group" type="submit" style="width: 120px;" disabled>
                            Edit
                        </button>
                        {% else %}
                        <button class="btn button-general edit-group" type="submit" id="{{group.id}}"
                                style="width: 120px;"> Edit
                        </button>
                        {% endif %}
                    </div>

                </div>
                <div class="col-xs-4 col-sm-3 col-md-4 col-lg-2 title-line-height text-right">
                    <div class="btn-group">
                        {% if videos_count %}
                        <button class="btn button-general delete_group" type="submit"
                                style="background-color: grey; color: white; width: 120px;" disabled> Delete
                        </button>
                        {% else %}
                        <button class="btn button-general delete_group" type="submit" id="{{group.id}}"
                                style="background-color: grey; color: white; width: 120px;"> Delete
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br>
            <div class="row" style="font-size:18px;">
                <div class="col-sm-6 col-md-6 col-lg-8 title-line-height">
                    {% for data in users %}
                    {% if forloop.last %}
                    {{data.first_name}} {{data.last_name}}
                    {% else %}
                    {{data.first_name}} {{data.last_name}},
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 title-line-height text-right"> Interviewee:
                    {% if volunteer %}
                    <a
                            href="{% url 'volunteer_profile' user_id=interview.interviewee.id interview_id=interview.id %}">{{interview.interviewee.first_name}}
                        {{interview.interviewee.last_name}} </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr style="border-top: 1px solid #b7abab;">
        {% if count > 0 %}
        <div class="alert alert-warning alert-videos" role="alert">
            You have {{count}} video(s) waiting to be approved
        </div>
        {% else %}
        <div class="alert alert-warning alert-videos" role="alert" style="display:none;">
            You have {{count}} video(s) waiting to be approved
        </div>
        {% endif %}
        <input type="hidden" value="{{classname}}" id="classname">
        <input type="hidden" value="{{assignment}}" id="assignment">
        <div class="panel-body">
            <div class="container">
                <div class="gallery">
                    <div class="container-fluid">
                        {% if videos %}
                        {% for video in videos %}
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 videos-display">
                            <div class="thumbnail" style="text-align: center; width: 85%;">
                                <div style="text-align: right;"> Delete</div>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <video controls>
                                        <source src="/foraliving/media/{{video.video.url}}">
                                    </video>
                                </div>
                                <div style="margin-left: 8%;">
                                    <p class="tag">{{video.video.name}}</p>
                                    <p class="text-column">
                                        {{video.interview_question.interview.interviewee.first_name}},
                                        {{volunteer.workTitle}}</p>
                                    {% if video.video.status == "approved"%}
                                    <div class="page-title" style="font-size: 18px; text-align: left;">
                                        <input type="checkbox" checked name="status" class="status"
                                               value="{{video.video.id}}"> <label>Approved</label>
                                    </div>
                                    {% else %}
                                    <div class="link" style="font-size: 18px; text-align: left;">
                                        <input type="checkbox" name="status" class="status" value="{{video.video.id}}">
                                        <label>Approve</label>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div>
                            <h3 style="text-align: center;">No videos have been saved</h3>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'general/delete.html' %}
{% include 'teacher/edit_group.html' %}
{% endblock %}
{% block scripts %}
<script>
</script>
{% endblock %}