<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Are you sure to delete the record?</h4>
            </div>

            <div class="modal-body" style="margin: 4px; font-size: 16px;">
                <p style="text-align: justify; margin:3px;">
            </div>
            <div class="modal-footer" style="text-align:center;">
                <button class="btn btn-success " data-dismiss="modal">No</button>
                <button class="btn btn-success modal-button confirm-delete-modal">Yes</button>
            </div>
        </div>
    </div>
</div>