{% extends 'general/base.html' %}
{% load staticfiles %}
{% block list %}
{% if user_type == "Teacher" %}
<li><a href="{% url 'teacher_class' %}">Students</a></li>
<li><a href="{%url 'teacher_volunteer'%}">Volunteers</a></li>
<li><a href="{%url 'teacher_videos'%}">Videos</a></li>
{% elif user_type == "Volunteer" %}
<li><a href="{% url 'volunteer_profile'  user_id=request.user.id interview_id=0%}">Profile</a></li>
<li><a href="">Get Interviewed</a></li>
{% else %}
<li><a href="{% url 'assignment_list' %}">Assignments </a></li>
{% endif %}

{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'UX/css/student/recording.css' %}">
<link rel="stylesheet" href="{% static 'UX/css/simpleGridTemplate.css' %}">
{% endblock %}
{% block body %}
<div class="container">
    <div class="gallery">
        {% if school %}
        <h3 style="text-align: center;"> {{school.name}} videos </h3>
        {% endif %}
        {% for video in videos %}
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="thumbnail">
                <div class="embed-responsive embed-responsive-16by9">
                    <video controls>
                        <source src="/foraliving/media/{{video.video.url}}">
                    </video>
                </div>
                <h4>{{video.interview_question.interview.interviewee.first_name}}</h4>
                <p class="tag">{{video.interview_question.interview.interviewee.volunteer_user_add_ons.workTitle}}</p>
                <p class="text_column">{{video.video.name}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}