.copyright {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #717070;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    border-top-width: 2px;
}

.btn-success {
    width: 140px;
    max-height: 35px;
    background-color: #5db9b9;
    border-color: white;
    font-size: 16px;
    border-style: groove;
    margin-bottom: 3px;
    margin-top: 8px;
    margin-right: 5px;
}

.btn-not {
    width: 140px;
    max-height: 35px;
    color: white;
    background-color: #a7a7a7;
    border-color: #a7a7a7;
    font-size: 18px;
    border-style: groove;
    margin-bottom: 3px;
    margin-top: 8px;
    margin-right: 5px;
    border-style: solid;
}

.btn-menu {
    width: 180px;
    color: white;
    background-color: #4CAF50;
    border-color: #4CAF50;
    font-size: 18px;
    border-style: groove;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-right: 5px;
    border-style: solid;
}


.btn-video {
    width: 180px;
    color: white;
    background-color: #4CAF50;
    border-color: #4CAF50;
    font-size: 18px;
    border-style: groove;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-right: 5px;
    border-style: solid;
}

.btn-primary, .btn-danger {
    width: 100px;
    max-height: 35px;
    font-size: 18px;
    border-style: groove;
    margin-bottom: 3px;
    margin-top: 8px;
    margin-right: 5px;
}

.btn-success:hover {
    color: white;
    background-color: #565656;
    border-color: #565656;
    border-style: solid;
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open > .dropdown-toggle.btn-success.focus, .open > .dropdown-toggle.btn-success:focus, .open > .dropdown-toggle.btn-success:hover {
    color: white;
    background-color: #565656 !important;
    border-color: #565656 !important;
    border-style: solid;
}

.btn-success.active, .btn-success:active, .open > .dropdown-toggle.btn-success {
    color: white;
    background-color: #565656 !important;
    border-color: #565656 !important;
    border-style: solid;
}

.btn.focus, .btn:focus, .btn:hover {
    color: white;
    background-color: #565656;
    border-color: #565656;
    border-style: solid;
}

.hero_header {
    color: #FFF;
    text-align: center;
    margin: 0;
    letter-spacing: 4px;
}

.image {
    width: 150px;
    height: 150px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
}

.image_battery {
    width: 120px;
    height: 120px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    display: inline;
    margin: auto;
}

.image-rotation {
    width: 400px;
    height: 220px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    display: inline;
    margin: auto;
}

.fa-lg {
    font-size: 2.5em;
    line-height: 1em;
}

meter {
    width: 300px;
    height: 25px;
}

.menu {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px;
    border-style: dotted;
    border-left: white;
    border-right: white;
    border-bottom: white;
    padding-top: 11px;
}

.modal-button {
    background-color: #4cae4c;
    border-color: #4cae4c;
    border-style: solid;
}

.navbar-brand {
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    padding: 5px 20px;
}

.navbar-nav {
    float: right;
    margin: 0;
}

.question {
    font-weight: bold;
    font-size: 18px;
}

#question1 {
    font-size: 18px;
}

#question2 {
    font-size: 18px;
}

#record {
    font-size: 20px;
    width: 220px;
    height: 40px;
    color: #fff;
    background-color: #FE5919;
    border-color: #FE5919;
}

#save {
    font-size: 20px;
    width: 220px;
    height: 40px;
    color: #fff;
    top: 50%;
    left: 50%;
    background-color: #FE5919;
    border-color: #FE5919;
    margin-bottom: 20px;
}

.setup {
    padding-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 26px;
    text-align: justify;
    font-weight: bold;
}

.skip {
    text-align: center;
    font-size: 20px;
    color: #3d8686;
    font-weight: bold;
}

video {
    max-width: 100%;
    max-height: auto;
}

.videoContainer {
    text-align: center;
}

#custom-message {
    position: relative;
    color: rgb(230, 200, 98);
    z-index: 1;
    text-align: center;
    top: -250px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

#count-replace {
    font-size: 50px;
    position: relative;
    color: rgb(230, 200, 98);
    z-index: 1;
    text-align: center;
    top: -250px;
    color: #FE5919;
    font-weight: bold;
}

#count {
    font-size: 80px;
    position: relative;
    color: rgb(230, 200, 98);
    z-index: 1;
    text-align: center;
    top: -250px;
    color: #FE5919;
    font-weight: bold;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 2.428571;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

@media screen and (max-width: 320px) {
    .header-button {
        float: none !important;
    }

}

@media (max-width: 1200px) {
    .video-message {
        padding-top: 7% !important;
    }
}

@media (max-width: 992px) {

    #custom-message {
        position: relative;
        text-align: center;
        top: -150px;
    }

    #count {
        font-size: 70px !important;
        text-align: center;
        top: -130px !important;
    }

    #count-replace {
        font-size: 30px !important;
        text-align: center;
        top: -130px !important;
    }
}

@media (max-width: 766px) {
    video {
        width: 600px;
        height: 400px;
    }

    #custom-message {
        position: relative;
        text-align: center;
        top: -230px;
    }

    #count {
        font-size: 70px !important;
        text-align: center;
        top: -170px !important;
    }

    #count-replace {
        font-size: 50px !important;
        text-align: center;
        top: -170px !important;
    }
}

@media (max-width: 600px) {
    video {
        width: 500px;
        height: 300px;
    }

    #custom-message {
        position: relative;
        text-align: center;
        top: -150px;
    }

    #assignment {
        font-size: 12px !important;
    }

    .btn-menu {
        width: 100px;
        font-size: 10px;
    }

    meter {
        width: 250px;
        height: 25px;
    }

    #count {
        font-size: 70px !important;
        text-align: center;
        top: -150px !important;
    }

    #count-replace {
        font-size: 30px !important;
        text-align: center;
        top: -125px !important;
    }

}

@media (max-width: 500px) {
    video {
        width: 350px;
        height: 175px;
    }

    #assignment {
        font-size: 12px !important;
    }

    #assignment {
        font-size: 12px !important;
    }

    .btn-menu {
        width: 100px;
        font-size: 10px;
    }

    meter {
        width: 200px;
        height: 25px;
    }

    #count {
        font-size: 33px;
        text-align: center;
        top: -105px !important;
    }
}

@media (max-width: 358px) and (max-device-width: 358px) {
    video {
        max-width: 350px;
    !important;
        max-height: 175px;
    !important;
    }

    #custom-message {
        position: relative !important;
        text-align: center !important;
        top: -80px !important;
    }

    #assignment {
        font-size: 12px !important;
    }

    #assignment {
        font-size: 12px !important;
    }

    .btn-menu {
        width: 100px;
        font-size: 10px;
    }

    meter {
        width: 200px;
        height: 25px;
    }
}

@media (max-width: 310px) {
    #assignment {
        font-size: 12px !important;
    }

    .btn-menu {
        width: 100px;
        font-size: 10px;
    }

    #custom-message {
        position: relative;
        text-align: center;
        top: -142px;
    }

    #record {
        font-size: 16px;
        margin-top: 1%;
    }

    #count {
        font-size: 52px !important;
        text-align: center;
        top: -159px !important;
    }

    .btn-menu {
        width: 100px;
        font-size: 10px;
        height: auto;
    }

    meter {
        width: 150px;
        height: 25px;
    }
}

@media only screen
and (min-device-width: 200px)
and (max-device-width: 309px)
and (orientation: portrait) {

    video {
        width: 450px;
    !important;
        height: 200px;
    !important;
        margin-left: -30%;
    }
}

@media only screen
and (min-device-width: 310px)
and (max-device-width: 329px)
and (orientation: portrait) {

    video {
        width: 450px !important;
        height: 200px !important;
        margin-left: -30%;
    }

    #count-replace {
        font-size: 20px !important;
        text-align: center;
        top: -105px !important;
    }

    #count {
        font-size: 40px !important;
        text-align: center;
        top: -105px !important;
    }

    #custom-message {
        position: relative;
        text-align: center;
        top: -120px !important;
    }
}

@media only screen
and (min-device-width: 330px)
and (max-device-width: 450px)
and (orientation: portrait) {

    video {
        width: 450px;
    !important;
        height: 200px;
    !important;
        margin-left: -20%;
    }

    #count {
        font-size: 40px !important;
        text-align: center;
        top: -105px !important;
    }

    #count-replace {
        font-size: 25px !important;
        text-align: center;
        top: -105px !important;
    }
}